* {
    font-family: arial, sans-serif;
}
html,
body {
    margin: 0;
    padding: 0;
}
.body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
/*--Image--*/
#Image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 36vh;
    max-height: 290px;
    min-height: 150px;
    flex-grow: 1;
    width: 100%;
}
#Image .container {
    margin-top: auto;
}
.container img {
    width: 272px;
    height: 92px;
}