* {
  font-family: Arial, sans-serif;
}
html,
body {
  background-color: #202124;
  margin: 0;
  padding: 0;
}
.body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
// Image
#Image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 36vh;
  max-height: 290px;
  min-height: 150px;
  flex-grow: 1;
  width: 100%;
}
#Image .container {
  margin-top: auto;
}
.container img {
  width: 272px;
  height: 92px;
}
// Form
.form {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  height: 18vh;
  max-height: 140px;
  min-height: 140px;
  margin: 0 auto;
}
.form .Image-search {
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  min-height: 45px;
  margin-top: 15px;
}
.Image-search input {
  width: 100%;
  height: 100%;
  margin: 0 20px 0 20px;
  padding-left: 40px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.9);
  border: 1px solid #9aa0a68c;
  border-radius: 25px;
  outline: none;
  background: none;
}
.Image-search input:hover {
  background-color: #4f4f4f7c !important;
  border: none;
  transition: all 100ms ease-in-out 0s;
}
.Image-search i {
  position: absolute;
  padding-left: 35px;
  color: #9aa0a68c;
}
.form .Image-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
    height: 90px;
    min-height: 90px;
    width: 100%;
  }
  .Image-button input {
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    margin: 11px 4px;
    padding: 0px 10px;
    height: 36px;
    color: #fff;
    background-color: #303134;
    font-size: 15px;
  }
  .Image-button input:hover {
    border: 1px solid rgba(255, 255, 255, 0.4);
  }
/*--empty--*/
#empty {
  display: flex;
  height: 34vh;
  flex-grow: 2;
}
/*--Footer--*/
#foot {
  display: flex;
  position: relative;
  left: 0;
  bottom: 0;
  height: 12vh;
  max-height: 96px;
  min-height: 96px;
  flex-grow: 1;
  background-color: #171717;
}
#foot .container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container .top {
  display: flex;
  justify-content: flex-start;
  height: 47px;
}
.top .top-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
.top-title h5 {
  font-size: 12px;
  color: #9aa0a6;
}
.container .bottom {
  display: flex;
  justify-content: center;
  height: 47px;
}
.bottom .bottom-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
@media only screen and (max-width: 1200px) {
  .bottom .bottom-title {
    justify-content: space-evenly;
  }
}
.bottom-title div {
  display: flex;
  align-items: center;
}
#links1 {
  width: 500px;
  justify-content: space-evenly;
}
#links1 a {
  text-decoration: none;
  font-size: 14px;
  color: #9aa0a6;
}
#links2 {
  width: 250px;
  justify-content: space-evenly;
}
#links2 a {
  text-decoration: none;
  font-size: 14px;
  color: #9aa0a6;
}
